{% extends "base.html" %}

{% block title %}{{ heading }} | Internal Tool Directory{% endblock %}

{% block content %}
  <h1>{{ heading }}</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.name.label }}
      {{ form.name() }}
      {% for error in form.name.errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.description.label }}
      {{ form.description() }}
      {% for error in form.description.errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.data_link.label }}
      {{ form.data_link() }}
      {% for error in form.data_link.errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.creator_id.label }}
      {{ form.creator_id() }}
    </div>
    <div>
      {{ form.category_id.label }}
      {{ form.category_id() }}
    </div>
    <div>
      {{ form.language_id.label }}
      {{ form.language_id() }}
    </div>
    <div>
      {{ form.submit() }}
    </div>
  </form>
{% endblock %}
